@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
  --honolulu-blue: #067bc2ff;
  --scarlet: #ff2e00ff;
  --chrysler-blue: #5f00baff;
  --black: #020202ff;
  --emerald: #16c172ff;
  --font-family: 'Poetsen One', cursive;
}
